<div class="wapper-full">
    <div class="wapper">
        <h4 style="margin-top: 5px;">Danh sách người dùng</h4>

        <div class="content-user">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button mat-button class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#AddModal"><i style="margin-right: 3px;margin-bottom: 5px;"
                                    class="fas fa-user-plus"></i>Thêm
                                Người dùng</button>
                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                        placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover table-head-fixed">
                                <thead>
                                    <tr>
                                        <th>Tên người dùng</th>
                                        <th>Tài khoản</th>
                                        <th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Tùy chọn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of listUsers; let i=index" (click)="RowClick(user, i)"
                                        [class.active]="i === selectedRow && selectedRowData">
                                        <td>{{user.FullName}}</td>
                                        <td>{{user.user}}</td>
                                        <td>{{user.Mobile}}</td>
                                        <td>{{user.Email}}</td>
                                        <td>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                data-toggle="modal" data-target="#profileModal"
                                                style="color: rgb(161, 248, 90);margin-right:10px" title="chi tiết">menu
                                            </mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                data-toggle="modal" data-target="#editModal"
                                                style="color: rgb(248, 182, 243);" title="sửa">edit</mat-icon>
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                style="color: rgb(136, 107, 206);margin-left:10px" title="xóa"
                                                (click)="DeleteUer(id)">
                                                delete</mat-icon>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>

        <!-- Modal Add-->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm người dùng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="id"></textarea>
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="FullName"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="Address"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="Email"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="Mobile"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="user"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="pass"></textarea>
                        </mat-form-field>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                (click)="saveUser()">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal profile-->
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Chi tiết nhóm</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="id"></textarea>
                        </mat-form-field> -->
                        <table>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.FullName}}</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.Address}}</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.Email}}</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.Mobile}}</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.user}}</textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;">{{UserClickRow.pass}}</textarea>
                        </mat-form-field>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Edit-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa đơn hàng</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <mat-form-field class="example-full-width">
                            <textarea matInput style="width: 100%;" [(ngModel)]="id"></textarea>
                        </mat-form-field> -->
                        <table>
                            <tr class="table">
                                <td><mat-form-field class="example-full-width" >
                                    <textarea matInput 
                                        [(ngModel)]="UserClickRow.FullName">{{UserClickRow.FullName}}</textarea>
                                </mat-form-field></td>
                                <td><mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;"
                                        [(ngModel)]="UserClickRow.Address">{{UserClickRow.Address}}</textarea>
                                </mat-form-field></td>
                            </tr>
                            <tr>
                                <td><mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;"
                                        [(ngModel)]="UserClickRow.Email">{{UserClickRow.Email}}</textarea>
                                </mat-form-field></td>
                                <td><mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;"
                                        [(ngModel)]="UserClickRow.Mobile">{{UserClickRow.Mobile}}</textarea>
                                </mat-form-field></td>
                            </tr>
                            <tr>
                                <td><mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;"
                                        [(ngModel)]="UserClickRow.user">{{UserClickRow.user}}</textarea>
                                </mat-form-field></td>
                                <td><mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;"
                                        [(ngModel)]="UserClickRow.pass">{{UserClickRow.pass}}</textarea>
                                </mat-form-field></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary" (click)="EditUer(id)" data-dismiss="modal">Lưu
                            chỉnh sửa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>