.wapper-full {
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);

}

.wapper {
    width: 1150px;
    min-width: 400px;
    height: 400px;
    // background-color: rgb(8, 240, 240);
    margin-left: 5%;
}

.example-full-width {
    float: left;
    width: 50%;
}