.wapper {
  width: 97.5%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  margin-left: 2.4%;

  table {
    width: 100%;
    height: 100%;
  }
}

.order-content {
  width: 95%;
  height: 72%;
  margin-left: 2%;
  margin-top: 1%;
  border-top: 2;
  background-color: rgb(240, 240, 240);
}
