<div class="wapper">

  <h3 style=" margin-left: 2.5%;">Đơn hàng</h3>

  <div class="row  order-content">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <button mat-button class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal">Thêm Đơn
            hàng</button>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right"
                placeholder="Tìm theo tên khách hàng" [(ngModel)]="customerName" (input)="Search()">

              <div class="input-group-append">
                <button  class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" >
          <table class="table table-head-fixed  table-hover">
            <thead>
              <tr>
                <th>Mã Khách hàng</th>
                <th>Tên Khách hàng</th>
                <th>Số điện thoại</th>
                <th>Ghi chú</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
                <th>Tùy chọn</th>

              </tr>
            </thead>
            <!-- <tbody> -->
            <tr *ngFor="let orders of listOrder ; let i = index  " (click)="RowClick(orders, i)"
              [class.active]="i === selectedRow && selectedRowData">
              <td>{{orders.order_Id}}</td>
              <td>{{orders.customerName}}</td>
              <td>{{orders.customerMobile}}</td>
              <td>{{orders.customerMessage}}</td>
              <td>{{orders.createDate}}</td>
              <td>{{orders.status}}</td>
              <td>
                <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                  data-target="#profileModal" style="color: rgb(161, 248, 90);margin-right:10px" title="chi tiết">menu
                </mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                  data-target="#editModal" style="color: rgb(248, 182, 243);" title="sửa">edit</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                  style="color: rgb(136, 107, 206);margin-left:10px" title="xóa" (click)="DeleteOrder(id)">
                  delete</mat-icon>
              </td>
            </tr>
            <!-- </tbody> -->
          </table>
        </div>

        <!-- Modal Add-->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Thêm đơn hàng</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Id" [(ngModel)]="Id"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Tên khách hàng" [(ngModel)]="Name"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Địa chỉ khách hàng" [(ngModel)]="Address"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Email khách hàng" [(ngModel)]="Email"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Số khách hàng" [(ngModel)]="Mobile"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Lời nhắn khách hàng" [(ngModel)]="Message"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Ngày tạo" [(ngModel)]="Date"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập tên Nhân viên tạo" [(ngModel)]="By"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập cách thức thanh toán" [(ngModel)]="payment"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập trạng thái" [(ngModel)]="sta"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="SaveOrder()" data-dismiss="modal">Lưu Đơn
                  hàng</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal profile-->
        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput>{{rowData.id}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput>{{rowData.customerName}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Địa chỉ khách hàng" [(ngModel)]="Address"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Email khách hàng" [(ngModel)]="Email"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Số khách hàng" [(ngModel)]="Mobile"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Lời nhắn khách hàng" [(ngModel)]="Message"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập Ngày tạo" [(ngModel)]="Date"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập tên Nhân viên tạo" [(ngModel)]="By"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập cách thức thanh toán" [(ngModel)]="payment"></textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mời nhập trạng thái" [(ngModel)]="sta"></textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="SaveOrder()" data-dismiss="modal">Lưu Đơn
                  hàng</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Edit-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa đơn hàng</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mã"
                          [(ngModel)]="rowData.order_Id">{{rowData.order_Id}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Tên khách hàng"
                          [(ngModel)]="rowData.customerName">{{rowData.customerName}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Địa chỉ khách hàng"
                          [(ngModel)]="rowData.customerAddress">{{rowData.customerAddress}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Email khách hàng"
                          [(ngModel)]="rowData.customerEmail">{{rowData.customerEmail}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Số khách hàng"
                          [(ngModel)]="rowData.customerMobile">{{rowData.customerMobile}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Lời nhắn khách hàng"
                          [(ngModel)]="rowData.customerMessage">{{rowData.customerMessage}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Ngày tạo"
                          [(ngModel)]="rowData.createDate">{{rowData.createDate}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Tên Nhân viên tạo"
                          [(ngModel)]="rowData.createBy">{{rowData.createBy}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Phương thức thanh toán"
                          [(ngModel)]="rowData.paymentStatus">{{rowData.paymentStatus}}</textarea>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Trạng thái"
                          [(ngModel)]="rowData.status">{{rowData.status}}</textarea>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="EditOrder(id)" data-dismiss="modal">Lưu chỉnh
                  sửa</button>
              </div>
            </div>
          </div>
        </div>

        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>