.content {
  width: 84%;
  height: 695px;
  margin-left: 16%;
}

.main-footer {
  position: fixed;
  margin-left: 16%;
  bottom: 0;
  width: 84%;
  background-color: rgb(255, 255, 255);
  color: rgb(190, 190, 190);
  text-align: center;
}
