<div class="wapper">
    <h4 style=" margin-left: 2%;">Danh sách nhóm</h4>

    <div class="group-content  card card-danger">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button mat-button class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal"><i
                                style="margin-right: 3px;margin-bottom: 5px;" class="fas fa-user-plus"></i>Thêm
                            nhóm</button>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên nhóm</th>
                                    <th>Mô tả</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of listUserGroup; let i = index" (click)="RowClick(list, i)"
                                    [class.active]="i === selectedRow && selectedRowData">
                                    <td>{{list.id}}</td>
                                    <td>{{list.NameGroup}}</td>
                                    <td>{{list.Description}}</td>
                                    <td>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                                            data-target="#profileModal"
                                            style="color: rgb(161, 248, 90);margin-right:10px" title="chi tiết">menu
                                        </mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                                            data-target="#editModal" style="color: rgb(248, 182, 243);" title="sửa">edit
                                        </mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            style="color: rgb(136, 107, 206);margin-left:10px" title="xóa"
                                            (click)="DeleteGroup(id)">
                                            delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal Add-->
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{groupName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <tr>
                            <td>Tên nhóm</td>
                            <td>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput style="width: 100%;" [(ngModel)]="groupName"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <mat-checkbox style="font-size: 12px;margin-right: 5px;">Thêm người dùng</mat-checkbox>
                                <mat-checkbox style="font-size: 12px;">Cập nhật người dùng</mat-checkbox>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        (click)="saveGroupUser()">Lưu</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- Modal profile-->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Chi tiết nhóm</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <mat-form-field class="example-full-width">
                        <textarea matInput>{{listRowClick.id}}</textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput>{{listRowClick.NameGroup}}</textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <textarea matInput>{{listRowClick.Description}}</textarea>
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa đơn hàng</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Mã" [(ngModel)]="listRowClick.id">{{listRowClick.id}}</textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Tên khách hàng"
                            [(ngModel)]="listRowClick.NameGroup">{{listRowClick.NameGroup}}</textarea>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Địa chỉ khách hàng"
                            [(ngModel)]="listRowClick.Description">{{listRowClick.Description}}</textarea>
                    </mat-form-field>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" (click)="EditGroup(id)" data-dismiss="modal">Lưu chỉnh
                        sửa</button>
                </div>
            </div>
        </div>
    </div>
</div>