<div class="wapper">

    <h3 style=" margin-left: 2.5%;">Thư viện ảnh</h3>
  
    <div class="row  library-content">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button mat-button class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal">Thêm ảnh</button>
  
            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right"
                  placeholder="Tìm theo tên khách hàng" [(ngModel)]="customerName" (input)="Search()">
  
                <div class="input-group-append">
                  <button  class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0 library-image" >
            <table class="table table-head-fixed  table-hover">
              <thead>
                <tr>
                  
                </tr>
              </thead>
              <!-- <tbody> -->
              <tr *ngFor="let orders of listOrder ; let i = index  " (click)="RowClick(orders, i)"
                [class.active]="i === selectedRow && selectedRowData">
                <td>
                    <img src="" alt="">
                </td>
              </tr>
              <!-- </tbody> -->
            </table>
          </div>
  
         
          
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>