.wapper {
    width: 97.5%;
    height: 72%;
    background-color: rgb(240, 240, 240);
    margin-left: 2.4%;
  
    table {
      width: 100%;
      height: 100%;
    }
  }
  
  .library-content {
    width: 95%;
    height: 72%;
    margin-left: 2%;
    // margin-top: 100px;
    border-top: 2;
    // background-color: rgb(255, 187, 187);
  }

  .library-image {
      width: 100%;
      height: 500px;
    //   margin-top: 100px;
      background-color: rgb(255, 255, 255);
  }
  