<div class="wapper">
    <h4 style=" margin-left: 2%;">Danh sách quyền</h4>

    <div class="group-content  card card-danger">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button mat-button class="btn btn-info btn-lg" data-toggle="modal" data-target="#AddModal"><i
                                style="margin-right: 3px;margin-bottom: 5px;" class="fas fa-plus-square"></i>Thêm
                            quyền</button>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tên quyền</th>
                                    <th>Mô tả</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let list of listRole;">
                                    <td>{{list.id}}</td>
                                    <td>{{list.nameRole}}</td>
                                    <td>{{list.description}}</td>
                                    <td>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                                            data-target="#profileModal"
                                            style="color: rgb(161, 248, 90);margin-right:10px" title="chi tiết">menu
                                        </mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon" data-toggle="modal"
                                            data-target="#editModal" style="color: rgb(248, 182, 243);" title="sửa">edit
                                        </mat-icon>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon"
                                            style="color: rgb(136, 107, 206);margin-left:10px" title="xóa"
                                            (click)="DeleteOrder(id)">
                                            delete</mat-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal Add-->
                    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">Thêm đơn hàng</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Tên quyền"
                                            [(ngModel)]="name"></textarea>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Mô tả"
                                          [(ngModel)]="des"></textarea>
                                      </mat-form-field>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-primary" (click)="SaveOrder()"
                                        data-dismiss="modal">Lưu Đơn
                                        hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>