.wapper-full {
  width: 97.5%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  margin-left: 2.4%;
}

.wapper {
  width: 95%;
  height: 72%;
  margin-left: 2%;
  margin-top: 1%;
  border-top: 2;
  background-color: rgb(255, 255, 255);
}

// .wapper {
//   width: 97.5%;
//   height: 100%;
//   background-color: rgb(240, 240, 240);
//   margin-left: 2.4%;

// }

// .group-content {
//   width: 95%;
//   height: 72%;
//   margin-left: 2%;
//   margin-top: 1%;
//   border-top: 2;
//   background-color: rgb(255, 255, 255);
// }